<h1>{{title}}</h1>

<ul>
  {{#each apartments}}
    <li>
      <div class="image" style="background-image: url({{this.img}})">
      </div>
      <h4>
        <a href="{{this.url}}">
          {{this.title}}
        </a>
      </h4>
      <strong>{{this.price}} €</strong> - {{this.createdAt}}
      <br />
      <small>{{this.sqm}}m² - rooms: {{this.rooms}}</small>
      <p>
        {{this.desc}}
      </p>
    </li>
  {{/each}}
</ul>
